body {
    
}
.navbar{
	min-height: 60px;
	font-family: 'Bree Serif', serif;
	font-size: 140%;
}
.navbar-inverse{
	background-color: #b9121b;
}
.navbar-inverse .navbar-nav>li>a{
	color: #e6d247;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #8a0917;
}
.navbar-nav>li>a{
	padding-top: 19px;
	padding-bottom: 23px;	
}
.navbar-brand{
	padding: 0px 15px;
}

.title{
	color: #b9121b;
}

.ventas{
	padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
	
}

